*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
img {
  object-fit: cover;
}
/* homepage css*/
/* header css */
section.headernav {
  width:100%;
  height:100px;
  background: blue;
  overflow: hidden;
  position: sticky;
  top: 0;
}
.headercontainer {
  height:100px;

}
.headercontainer .topbar {
  height:60%;
  justify-content:center;
  align-content: center;
}

.headernav .topbar ul{
  height:100%;
  list-style-type: none;
  overflow:hidden;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.topbar li {
  display:flex;
  justify-content:center;
  align-items: center;
  float: left;
  height:100%;
  padding: 5px;
}
.topbar span {
  width: 80px;
}
.topbar img {
  justify-content: left;
  width: 200px;
  height: auto;
  padding: 10px 5px 10px 5px;
}
.topbar .signinbutton{
  text-align: right;
  width: 80px;
  height: auto;
  padding: 15px 10px 15px 10px;
  margin: 10px;
}
.topbar .signinbutton a{
  color: black;
}
.subbar {
  height:100%;
  background: grey;
  justify-content:center;
  align-content: center;
}
.headercontainer .subbar {
  height:40%;
  width:100%;
}
.headernav .subbar ul {
  height:100%;
  list-style-type: none;
  overflow:hidden;
  display: flex;
  justify-content:space-around;
}
.subbar li a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.subbar li {
  display: flex;
  color: white;
  width: 100%;
  height: 100%;
}
.subbar li:hover {
  background-color: white;
}

.sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav img {
  display: flex;
  width:100%;
  height: auto;
  padding: 10px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}



/*main page CSS*/
.ads{
  width:100%;
  height:300px;
}
.ads img {
  width: 100%;
  height: 300px;
  object-fit:none;
}

.topevents h1 {
  padding: 10px 5px 10px 20px;
}
.eventstoday .event{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  padding: 10px 10px 10px 10px;
}
.eventimage {
  padding: 10px 10px 10px 10px;
}
.eventimage img {
  width:350px;
  height:180px;
  padding: 0px 0px 10px 0px;
}

.recommend {
  width: 100%;
  height:100%;
}
.recommendcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 20px 0px;
}
.recommend h2 {
  padding: 10px 5px 10px 20px;
}
.recommendcontainer .recommendimage {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
}
.recommendcontainer .recommendimage h5 {
  padding: 2px;
  word-break: break-all;
}
.recommendcontainer .recommendimage img {
  width: 300px;
  height: 130px;
}

/* Categories CSS*/
.catmain{
  display: flex;
  flex-direction: row;
  padding: 0px 0px 20px 0px;
}

.catmain .searchbar {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.catsearch {
  padding:20px 40px 20px 40px ;
}

.venuesearch {
  padding:20px 40px 20px 40px ;
}
.searchbartext{
  display: flex;
  width: 100%;
}

.catsearch .dropdown {
  display: flex;
}
.catsearch .label {
  width: 40%;
}
.catsearch .input {
  width: 60%;
}

.venuesearch .dropdown {
  display: flex;
}
.venuesearch .label {
  width: 40%;
}
.venuesearch .input {
  width: 60%;
}

.catcontainer {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.catcontainer .catbox {
  padding:20px 20px 10px 20px;
}
.catbox img {
  width: 300px;
  height: 130px;
}
  
/* events CSS*/
.eventmain {
  padding: 20px 40px 0px 40px;
}

.eventcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px 0px 20px 0px;
}
.eventcontainer .eventbox {
  padding:20px 20px 10px 20px;
}
.eventbox img {
  width: 300px;
  height: 130px;
}

/*individual CSS*/
.individualcontainer {
  width: 100%;
  height: 445px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.individualtitle {
  display: flex;
  width: 100%;
  padding: 20px 20px 20px 20px;
}
.individualimage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 20px 20px 20px;
}
.individualimage img {
  width: 600px;
  height:300px;
  padding: 5px 20px 5px 20px
}
.individualdetails {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
}
.individualtext {
  width: 100%;
  height: 100%;
}
.individualtext .individualpara {
  padding: 20px 20px 20px 20px
}

/* footer css */
.footerbanner {
  width:100%;
  height:150px;
  background-color: black;
  color:white;
  justify-content:column;
  position: relative;
  bottom: 0;
}
.footerbanner div {
  padding: 10px 20px 10px 20px;
}
.footerbanner .aboutus{
  float:left;
  width:50%;
  height:100%;

}
.support ul {
  list-style-type: none;
  float: right;
  width:50%;
  height:100%;
  text-align: center;
  justify-content:center;
}
.footerbanner .support a {
  color: white;
}

.footerbanner .support a:hover {
  color: lightblue;
}
/* */

@media screen and (max-width: 1100px) {
  .ads {
    width: 100%;
    height: 200px;
  }
  .ads img {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }


  .catmain {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .catmain .searchbar {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .catsearch {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .catcontainer {
    width: 100%;
  }
  .catmain .searchbartext {
    display: flex;
    justify-content: center;
  }

  .individualcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .individualtitle {
    display: flex;
    justify-content: center;
  }
  .individualimage {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .individualdetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%
  }

  .individualdetails .individualtext {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .individualdetails img {
    width: 100%;
    height: 150px;
  }

  .footerbanner {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
  }

  .footerbanner .aboutus {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footerbanner .support {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}


