*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* homepage css*/

/* header css */
section.headernav {
  width:100%;
  height:100px;
  background: blue;
  overflow: hidden;
}
.headernav .topbar ul{
  list-style-type: none;
  display: flex;
  margin:0;
}
.headernav .subbar ul {
  list-style-type: none;
  overflow:hidden;
  display: flex;
  justify-content:space-evenly;
  background-color: grey;
}
.topbar li img {
  width:200px;
  height:auto;
}
.ads{
  width:100%;
  height:240px;
}
.ads img {
  width: 100%;
  height: 240px;
}
.eventimage img {
  width:400px;
  height:180px;
}
/*sign in CSS*/
/*
section{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  width: 100%;
  background: grey;
}
.form-box{
  position: relative;
  width:400px;
  height:450px;
  background:red;
  display:flex;
  justify-content:center;
  align-items: center;
}
*/
/*side navigaiton bar
.sidenav {
    height: 100%;
    width: 0;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
*/
/* subnav CSS */




/* footer css */
.footerbanner {
  width:100%;
  height:150px;
  background-color: black;
  color:white;
  justify-content:column;
}
.footerbanner .aboutus{
  float:left;
  width:50%;
  height:100%;

}
.footerbanner .support {
  float: right;
  width:50%;
  height:100%;
  text-align: center;
  justify-content:center;
}
/* */



/*Categories css*/
.catbox img{
  width: 280px;
  height:100px;
}

/*venues css*/
.venuebox img {
  width: 280px;
  height: 100px;
}


